<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog Homepage</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="">
    <header class="">
      <nav>
        <a href="/">homepage</a>
        <a href="/dashboard">dashboard</a>
        {{#if logged_in}}
        <button class="" id="logout-btn">logout</button>
        {{else}}
        <button class="" id="login-btn">login</button>
        {{/if}}
      </nav>
      <h1>
       The Tech Blog
      </h1>
    </header>
    <main class="">
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>