{{#each posts as |post| }}

<div class="post">
    <div>
        <h2>
            <a href="/api/post/{{post.id}}">{{post.title}}, posted on {{format_date post.date}}</a>
        </h2>
    </div>
</div>
{{/each}}